body {
    font-family: Roboto;
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.nav-bar {
    background-color: #1F2937;
    display: flex;
}

.header-logo {
    flex: 2;
}