body {
    font-family: Roboto;
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.nav-bar {
    background-color: #1F2937;
    display: flex;
    align-items: center;
}

.header-logo {
    flex: 1;
    padding-left: 150px;
}

.header-link {
    flex: 1;
    padding-right: 150px;
    text-align: right;
}

.header-link a {
    padding-left: 20px;
}

.hero-bar {
    background-color: #1F2937;
    display: flex;
    align-items: stretch;
    padding: 40px 150px 120px 150px;
}

.hero-text {
    flex: 1;
    padding-right: 50px;
}

.hero-heading {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-body {
    font-size: 18px;
    color: #E5E7EB;
}

.cta-button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    padding: 5px 25px;
    font-size: 16px;
}

.hero-image {
    flex: 1;
}

.image-placeholder {
    display: flex;
    background-color: gray;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.additional-information {
    text-align: center;
    padding: 40px 250px;
}

.information-heading {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.information-body {
    display: flex;
    align-items: center;
}

.information-container {
    margin: 15px;
}

.information {
    flex: 1;
    border: 3px solid #3882F6;
    border-radius: 8px;
    aspect-ratio: 1/1;
    width: 100%;
    max-height: 100%;
}

.quote-bar {
    background-color: #E5E7EB;
}

.quote-container {
    padding: 40px 250px;
}

.quote-body {
    font-size: 36px;
    font-style: italic;
}

.quote-signature {
    font-size: 18px;
    font-weight: 900;
    text-align: right;
}

.cta-bar {
    margin: 80px 150px 80px 150px;
}

.cta-container {
    display: flex;
    background-color: #3882F6;
    border-radius: 8px;
    align-items: center;
}

.cta-body-container {
    flex: 2;
    position: relative;
    padding: 25px 0px;
}

.cta-body {
    width: 500px;
    position: relative;
    margin: 0 auto;
    color: #E5E7EB;
}

.cta-header {
    font-weight: 900;
    margin: 16px 0px 0px;
    font-size: 22px;
}

.cta-text {
    margin: 2px 0px 16px;
    font-size: 18px;
}

.cta-button-container {
    flex: 1;
}

.cta-button {
    text-align: center;
}

.cta-button button {
    background-color: transparent;
    color: #E5E7EB;
    border: 2px solid #E5E7EB;
    border-radius: 8px;
    padding: 10px 25px 10px;
    font-size: 16px;
    font-weight: 600;
}
