body {
    font-family: Roboto;
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.nav-bar {
    background-color: #1F2937;
    display: flex;
    align-items: center;
}

.header-logo {
    flex: 1;
    padding-left: 150px;
}

.header-link {
    flex: 1;
    padding-right: 150px;
    text-align: right;
}

.header-link a {
    padding-left: 20px;
}

.hero-bar {
    background-color: #1F2937;
    display: flex;
    align-items: stretch;
    padding: 40px 150px 120px 150px;
}

.hero-text {
    flex: 1;
    padding-right: 50px;
}

.hero-heading {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-body {
    font-size: 18px;
    color: #E5E7EB;
}

.cta-button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    padding: 5px 25px;
    font-size: 16px;
}

.hero-image {
    flex: 1;
}

.image-placeholder {
    display: flex;
    background-color: gray;
    height: 100%;
    align-items: center;
    justify-content: center;
}